* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

:root {

  --header_font: 'Raleway', sans-serif;
  --paragraph_font: 'Open Sans', sans-serif;
  --navbar_font: 'Poppins', sans-serif;
  --red_color: #d9232d;
  --darck_color: #515d6a;
  --color_text: #444444;
  --back-ground: #f8f9fa;
}


body {
  font-family: var(--paragraph_font);
}